@media (max-width: 767px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .logo {
    width: 48px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 36px;
    color: white;
    padding-top: 6rem;
  }

  p {
    font-size: 20px;
    color: white;
    width: 80%;
    padding-top: 1rem;
  }

}