@media (min-width: 530px; max-width: 767px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  .logo {
    width: 48px;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 36px;
    color: white;
    padding-top: 6rem;
  }
 
  #text_box>p {
    width: 30%;
  }

  p {
    font-size: 20px;
    color: white;
    padding-top: 1rem;
  }

  footer {
    width: 100%;
    height: 40px;
    background-color: #cb528d;
    z-index: 1;
    position: absolute;
    bottom: -50;
  }
  
}